PORT=4000

MONGO_URI=mongodb://admin:your_secure_password@localhost:27017/myapp?authSource=admin

SALT_ROUNDS=10

JWT_SECRET=your_jwt_secret_key

REFRESH_TOKEN_VALIDITY=7d
ACCESS_TOKEN_VALIDITY=15m

REFRESH_COOKIES_VALIDITY=7  # In Days enter without d, m 
ACCESS_COOKIES_VALIDITY=15  # In minutes enter without d, m 

NODE_ENV=development